body {
	background-image: url(../images/patrones.png);
	background-size: cover;
}

.cuerpo{
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1.5rem;
}

.botones {
    text-align: center;
    margin-top: 2rem;
}

.lista{
	margin-right: 1rem;
	height: 1.4rem;
}

.titulo, .lista {
    display: inline-block;
    vertical-align: middle;
}

.abajo {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	height: 2rem;
} 

.botonera {
	position: absolute;
    right: 2rem;
	bottom:4rem;  
}

.ir {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	height: 2rem;
	margin-top: 0.5rem;
} 

.top{
    text-align: center;
    margin-bottom: 0.2rem;
}

.filtros {
    margin-right: 4rem;
}
.hide_column{
    display : none;
}