body {
	background-image: url(../images/rombos2.png);
	background-size: cover;
}

.cuerpo{
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1.2rem;
}

.botones {
    text-align: center;
    margin-top: 2rem;
}

.top{
    text-align: center;
}

.lista{
	margin-right: 1rem;
	height: 1.4rem;
}

.titulo, .lista {
    display: inline-block;
    vertical-align: middle;
}

#WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#999;
}


