body {
	background-image: url(../images/blue1.jpg);
	background-size: cover;
}

.cuerpo{
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1.2rem;
}

.botones {
    text-align: center;
    margin-top: 2rem;
}
.modulosDisponibles button{
	margin-left: 20px;
}
.modulosDisponibles{
	 margin-left: 20px;
}