@charset "utf-8";
/* CSS Document */

/* Creado por: Julián Echeverry Montoya - Diseñador Visual para Dimension IT S.A.S. (Abril 5 de 2016)  */
	
/* Seccion Cabecera */	

body {
	background-image: url(../images/fondoLogin.jpg);
	background-size: cover;
	width: 100%
	height: 100%;
}

.cuerpo {
	text-align: right;
}

.botonRegistro{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	margin-top: 1.6rem;
}

.contenedorIniciarSesion{
	z-index:6;
	position: relative;
	background-color: #f7ea32;
	border-radius: 0.3rem;
	width: 25rem;
	height: 16rem;
	display: inline-block;
	margin-top: 4rem;
	margin-right: 4rem;
	padding-right: 1rem;
}

.tituloIniciarSesion{
	z-index:6;
	position: absolute;
	background-color: #003265;
	color: #ffffff;
	top: 2rem;
	left: -1.5rem;
	width: 90%;
	height: 4%;
	padding-left: 2.2rem;
	padding-bottom: 1.5rem;
	padding-top: 0.1rem;
	text-align: left;
	font-size: 1.5em;
	border-radius: 0.3rem;
}

.formulario{
	z-index:6;
	margin-top: 6rem;
	margin-right: 1.22rem;
}

.campoIniciarSesion{
	z-index:6;
	height: 2.18rem;
	width: 13rem;
	padding-left: 0.9rem;
	border-radius: 0rem 0.3rem 0.3rem 0rem;
	border: none;
	vertical-align:top;
	font-family: "Roboto-Thin";
	font-size: 18px;
	color: #2d4191;
	/*padding-left: 0.5rem;*/
}

.campoIniciarSesion:focus{
	outline: none;
}

.icono{
	z-index:6;
	padding-left: 0.5rem;
	background-color: white;
	width: 2.3rem;
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}


/* Seccion Pie Página */	

.imgRedesSociales {
	position:fixed;
	z-index:6;
	bottom:-5px;
	left: 1rem;	
}

.contenedorDit {
	width: 31%;
	height: 5rem;
	float: right;
	text-align: center;
}
.imgPowered {
	position:fixed;
	z-index:6;
	bottom:4px;
	right: 3.2rem;
	width: 17rem;	
}

/* Sección Recuperar Contraseña */

#formaCuadroAzulError {
	position:absolute;
	width:391px;
	height:69px;
	border-radius: 4px 4px 4px 4px;
	z-index:2;
	background:#003265;
	margin-top: 435px;
	margin-left: 900px;
}

#lblDatosIncorrectos {
	position:absolute;
	width:277px;
	height:24px;
	z-index:16;
	margin-left: 983px;
	margin-top: 443px;
	font-family: "Roboto-Light";
	font-size: 18px;
	color: #ffffff;
}

#lblOlvidoContrasena {
	position:absolute;
	width:277px;
	height:24px;
	z-index:16;
	margin-left: 989px;
	margin-top: 469px;
	font-family: "Roboto-Bold";
	font-size: 18px;
	color: #f7ea32;
}


/* Seccion Botones */

.BotonEntrar {
	margin-top: 1rem;
	margin-right: 0rem;
	width:120px;
	height:29px;
	color: #ffffff;
	font-family: "Roboto-Medium";
	font-size: 17px;
	border-radius: 6px 6px 6px 6px;
	background-color: #003265;
	z-index: 7;
	transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
	border:1px solid #003265;
	cursor:pointer;
}

.BotonEntrar:hover {
	text-decoration:none;
    background-color:#ffffff;
	font-family: "Roboto-Bold";
    color: #003265;
	border-top:1px solid #ffffff;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-left:1px solid #ffffff;
	cursor:pointer;
}

/* Seccion Media Queries */

	@media(max-width: 1920px) {
		body {
		background-image: url(../images/1920x1080Login.jpg);	
        }}
 
    @media(max-width: 1680px) {
        body {
		background-image: url(../images/1680x1050Login.jpg);	
        }}
               
    @media(max-width: 1600px) {
		body {
		background-image: url(../images/1600x900Login.jpg);
        }}
               
    @media(max-width: 1440px) {
        body {
		background-image: url(../images/1440x900Login.jpg);
        }}
               
    @media(max-width: 1366px) {
        body {
		background-image: url(../images/1366x768Login.jpg);
        }}
         
    @media(max-width: 1280px) {
        body {
		background-image: url(../images/1440x900Login.jpg);
        }}
     
    @media(max-width: 1024px) {
        body {
		background-image: url(../images/1024x768Login.jpg);
        }}